name: Build Server Dockerfile

permissions:
    contents: read
    packages: write

on:
    push:
        paths:
            - "server/**"
            - ".github/workflows/build.yml"
    pull_request:
        paths:
            - "server/**"
            - ".github/workflows/build.yml"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build server image
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./server/Dockerfile
                push: true
                pull: true
                cache-from: type=gha
                cache-to: type=gha,mode=max
                tags: ghcr.io/alexandergg-0520/docker-rvc:latest
                sbom: true
                provenance: mode=max